<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data source=DbServerDEV; Initial Catalog=CrawlerCFO; User Id=appdotnet; Password=appdotnetdev;Connect Timeout=30"/>
		<add key="Name" value="+"/>
		<add key="Tempo" value="300000"/>
		<add key="Log" value="false"/>
	</appSettings>
</configuration>